<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Home</title>



  <link rel="stylesheet" href="css/styleUsuario.css">


</head>

<body>

<html lang="pl">
<head>
  <meta charset="utf-8">
  <title>Code-mine App1</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/styleUsuario.css">
</head>
<body>
<div class="container">
  <!-- Header -->
  <div class="header">
    <div class="header-content">
      <div class="head-menu">
        <ul>
          <li>Inicio</li>
          <li>Dispositivos</li>
          <li>Mediciones</li>
          <li>Contacto</li>
        </ul>
      </div>
      <div class="head-buttons">
        <div class="head-profile">
          <img src="https://image.flaticon.com/icons/png/512/17/17797.png" alt="Profile photo">
        </div>
      </div>
    </div>
  </div>
  <!-- App 1 navigation -->
  <div class="navigation">
    <div class="header-content">
      <div class="nav-top">
        <div class="nav-top-left">
          <p>Cliente N°{{ cliente }}</p>
        </div>
        <div class="nav-top-right">
        </div>
      </div>
      <div class="nav-bottom">
      </div>
    </div>
  </div>
  <!-- Integrate analytics row -->
  <div class="info">
    <p>Queres obtener tu consumo? <a href="/simplex"> Ejecuta el Simplex</a></p>
  </div>
  <!-- Content -->
  <div class="content row">
    <div class="averages">
      <div class="averages-title">
        <p>Consumo actual</p>
      </div>
      <div class="averages-table">
        <div class="test testers">
          <p><i class="fa fa-user-circle-o" aria-hidden="true"></i></p>
          <p>24 Testers</p>
        </div>
        <div class="test to-buy">
          <p>12/12/12</p>
          <p>Inicio</p>
        </div>
        <div class="test desirability">
          <p>13/13/13</p>
          <p>Fin</p>
        </div>
        <div class="test want-it">
          <p>9.0</p>
          <p>Consumo maximo</p>
        </div>
        <div class="test score">
          <p>7.77</p>
          <p>Consumo total</p>
        </div>
      </div>
    </div>
    <!-- Completed tests -->
    <div class="complete-tests">
      <!-- First table of completed tests section-->
      <div class="complete-tests-title">
        <p>Completed tests</p>
        <p>Today</p>
      </div>
      <div class="complete-test-table">
        <div class="table-name">
          <p>John Smith</p>
        </div>
        <div class="table-content">
          <p>"I've been looking for something like this for a very long time, let me know if you need any beta testers."</p>
        </div>
        <div class="table-score">
          <p>7.6</p>
          <p>View more</p>
        </div>
      </div>
      <!-- Second table of completed tests section-->
      <div class="complete-test-table">
        <div class="table-name">
          <p>Marry</p>
        </div>
        <div class="table-content">
          <p>"Don't think it's different enough from other apps that are already out there."</p>
        </div>
        <div class="table-score">
          <p>5.1</p>
          <p>View more</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>



</body>

</html>