@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

@orange: #edb506;
@white: #ffffff;
@darkGrey: #314649;

.background {
    background-color: @white;
    display: grid;
    font-size: 1vw;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 50vw;
    margin: 0 auto;
    width: 100vw;
    z-index: 1;
}

.bg-top {
    background: @orange;
    grid-column: 7 / span 2;
    grid-row: 1;
}

.bg-left {
    background: @orange;
    grid-column: 1;
    grid-row: 3 / span 1;
}

.bg-right {
    background: @orange;
    grid-column: 10;
    grid-row: 7 / span 1;
}

.bg-bottom {
    background: @orange;
    grid-column: 3 / span 1;
    grid-row: 10;
}

.container {
    background-color: @white;
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.23);
    grid-column: 2 / span 8;
    grid-row: 2 / span 8;
    z-index: 2;
}

.photo {
    background-image: url('https://images.unsplash.com/photo-1517849845537-4d257902454a?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=81ec0690b6f716d72ec64e0c57618ebc');
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Gloria Hallelujah', cursive;
    grid-column: 2 / span 4;
    grid-row: 2 / span 8;
    margin: 2em;
    text-align: center;
    z-index: 3;
h1 { font-size: 4em; }
}

.content {
    align-content: space-between;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    grid-column: 5 / span 5;
    grid-row: 2 / span 8;
    margin: 2em;
    z-index: 3;
}

.content-title {
    align-items: center;
    color: @orange;
    display: flex;
    font-size: 1.2em;
    height: 20%;
    justify-content: space-between;
}

.content-title > div > a {
    cursor: pointer;
    margin-left: 1em;
&:hover > svg {
     fill: @orange;
 }
svg {
    fill: @darkGrey;
    height: 2.5em;
    width: 2.5em;
}
}

.content-about {
    height: 40%;
> p {
    font-size: 1.5em;
}
}

.content-boxes {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 40%;
}

.content-box {
    align-items: center;
    background: @darkGrey;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10em;
    width: 50%;
}

.content-box.one {
    margin-right: 3em;
}

.content-box > a {
    color:@white;
    display: inline-block;
    font-size: 2.5em;
    font-weight: 300;
    height: 100%;
    padding-top: 30%;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
&:after {
     content: '';
     position: absolute;
     left: 25%;
     display: inline-block;
     height: 1em;
     width: 50%;
     border-bottom: 0.1em solid @orange;
     margin-top: 0.5em;
 }
}